[Unit]
Description=aliyun iot hub
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
Restart=always
RestartSec=5
StartLimitInterval=10
User=pi
Group=pi
WorkingDirectory=/home/pi/discovery_robot/src/aliyun_iot
ExecStart=/usr/bin/python3 iot_hub.py gWiEs5b0taOSUzaN8YZLqdATrohzJnPS
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target

